<h1>Cogswell Coggs' Coin Exchange</h1>
<h3>Enter a number and BAM! You gots change.</h3>

<form action="/results">
  <div class="form-group">
    <label for="total_cents">Please eter some random, positive number, and you shall get back CHANGE!</label>
    <input id="total_cents" name="total_cents" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-warning">Gimme da Money Baby!</button>
</form>
