<h1>Cogswell Coggs' Coin Exchange</h1>
<h3>Enter a number and BAM! You gots change.</h3>

<form action="/results">
  <div class="form-group">
    <label for="coins">Please eter some random number, preferably a positive number, and you shall get CHANGE!</label>
    <input id="coins" name="coins" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-warning">Submit</button>
</form>
